.addPizzaForm {
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#addPizzaFormElement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  margin-top: 50px;
  background-color: #f2a30f;
  color: #f2ecdb;
  border-radius: 2px;
  border: none;
  width: 100px;
  height: 25px;
}

.submitButton:hover {
  background-color: #f28c0f;
  border-color: #deb522;
}

label {
  display: inline-block;
  width: 100px;
}

.addPizzaInput {
  border-radius: 2px;
  border: none;
}

.addPizzaInput:focus {
  box-shadow: 0 0 0 1px #f2a30f;
  outline: none;
}

.formItem {
  width: 300px;
  margin-top: 20px;
}

.formItem.alignSelfRight {
  display: flex;
}

input,
select {
  width: 195px;
  height: 20px;
  border: 10px solid #ccc;

  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

#pizzaPhotosInForm {
  width: 170px;
  height: 150px;
  overflow-y: auto;
}
.pizzaPhotosInForm > input {
  display: none;
}

.pizzaPhotosInForm > input + img {
  cursor: pointer;
  border: 2px solid transparent;
}

.pizzaPhotosInForm > input:checked + img {
  border: 2px solid #f2a30f;
}

.pizzaPhotoInForm {
  width: 150px;
  height: 150px;
}

.formItem.photo {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.formItem.formToppings {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.formToppingsParentInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formToppingsChildInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.formToppingsChildInputFieldAndMinusButtonContainer {
  display: flex;
  align-items: center;
}

.formToppingsChildInputFieldAndMinusButtonContainer input {
  width: 175px;
}
